body 
    #container {
        display: grid;
    }
    #content-home {background-image: url('./images/background.jpg');
        background-position: center center;
        background-size: cover;}
        #container {

    }

    #assets-list {
        display : flex;
        justify-content: space-around;
     }
     #description {
        color: white;
     }


    #search-form {
        border: ;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     #result {
        
     }